<ion-searchbar (ionInput)="onInput($event)"></ion-searchbar>

<ion-content padding class="card-background">
    <ion-row>
        <ion-col *ngFor="let result of results">
            <ion-card (tap)="showDetail(result)" class="card-background-page">
                <div class="image">
                    <img src="{{ result.Poster }}"/>
                </div>
                <div class="card-title">
                    {{ result.Title }}
                    <div class="card-subtitle">{{ result.Year }}</div>
                </div>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>
